/**
*   Author: Zahid Shaikh
*   Theme: R BATTERIES
*   Date: 10-08-2020
*/
/*CSS FOR NAVBAR*/
header {
  height: 70px;
}

@media (max-width: 875px) {
  header {
    height: 120px;
  }
}

nav {
  max-width: 1366px;
  background: #FF0E0E;
  position: fixed;
  top: 0;
  height: 70px;
  margin: 0px auto;
  box-shadow: 0px 4px 10px #00000080;
}

@media (max-width: 875px) {
  nav {
    box-shadow: none;
  }
}

nav .search-bar {
  height: 45px;
  width: calc(100% - 800px);
  background: #DE0000;
  border-radius: 5px;
  color: #ffa1a1;
  position: relative;
}

@media (max-width: 680px) {
  nav .search-bar {
    display: none;
  }
}

nav .search-bar .search-btn {
  position: absolute;
  left: 20px;
  font-size: 20px;
}

nav .search-bar input {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 20px;
  width: calc(100% - 110px);
}

nav .search-bar input::placeholder {
  color: #ffa1a1;
}

nav .sub-nav {
  padding: 10px !important;
  background: #DE0000;
  height: 100%;
  position: absolute;
  right: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  list-style-type: none;
}

nav .sub-nav .nav-link {
  color: white;
  transition: .3s ease-out;
  border-radius: 100px;
  margin: auto 5px;
}

nav .sub-nav .nav-link:hover {
  background: #FF0E0E;
}

@media (max-width: 875px) {
  nav .sub-nav {
    top: 70px !important;
    height: 50px;
    left: 0;
    border-radius: 0px;
    box-shadow: 0px 4px 10px #00000080;
  }
}

@media (max-width: 875px) and (max-width: 680px) {
  nav .sub-nav .nav-link {
    display: flex;
    align-content: center;
    margin: auto 3px;
  }
  nav .sub-nav .nav-link i {
    float: none !important;
    font-size: 28px;
  }
  nav .sub-nav .nav-link span {
    display: none;
  }
}

@media (max-width: 875px) {
  nav .menu-btn {
    position: absolute;
    right: 20px;
    top: 10px;
  }
  nav .menu-btn i {
    margin: 0px !important;
  }
}

/*CSS for carousel */
.carousel-container {
  height: 350px;
  width: calc(100% - 100px);
  margin: auto;
  border-radius: 10px;
  background: #FF0E0E;
  box-shadow: 0px 0px 14px #00000080;
}

@media (max-width: 1030px) {
  .carousel-container {
    width: 100% !important;
    border-radius: 0px;
    height: 230px;
  }
}

/*CSS for Categories*/
.categories {
  margin-top: 35px !important;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 14px #00000080;
}

.categories .category {
  height: 400px;
  width: 280px;
  margin: 35px auto;
  border-radius: 10px;
  background: #ececec;
  box-shadow: 0px 0px 14px #00000080 !important;
  position: relative;
  overflow: hidden;
}

.categories .category .design1, .categories .category .design2 {
  clip-path: polygon(0 0, 100% 0, 100% 18%, 0 50%);
  background: #FF0E0E;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.categories .category .design2 {
  transform: rotate(180deg);
}

.categories .category .button {
  position: absolute;
  height: 100px;
  bottom: 0;
  left: 0;
  right: 0;
}

.categories .category .button button {
  background: #f5f5f5;
  color: #FF0E0E !important;
  text-shadow: 0px 0px 14px #0000002f;
  transition: .3s ease-out;
  font-size: 20px;
}

.categories .category .button button:hover {
  background: #000000;
  color: #f5f5f5 !important;
}

.categories .category .button button i {
  font-size: 30px;
}

/*CSS for Battery Finder*/
.battery-finder .input-field {
  width: 280px;
}

.battery-finder .input-field .form-control {
  width: 100%;
}

.battery-finder .input-field button {
  background: #FF0E0E;
  color: #f5f5f5;
  transition: .3s ease-out;
  font-size: 18px;
}

.battery-finder .input-field button:hover {
  background: #000000;
  color: #f5f5f5 !important;
}

/*CSS for manufacturers*/
.shop-by-make .input-field {
  width: 300px !important;
}

.shop-by-make .car-make {
  height: 200px;
  width: 200px;
  background: #ffa1a1;
  margin: 30px auto;
}

/*CSS for reviews*/
.reviews .review {
  height: 350px;
  width: 360px;
  box-shadow: 0px 0px 14px #0000002f;
  margin: 30px auto;
  border-radius: 10px;
}

@media (max-width: 680px) {
  .reviews .review {
    width: 300px;
  }
}

.reviews .review .user-details {
  color: #FF0E0E;
}

.reviews .review .review-details {
  width: calc(100% - 20px);
  height: 160px;
  background: #0000002f;
  border-radius: 10px;
  margin-bottom: -10px;
  position: relative;
}

.reviews .review .review-details .fa-quote-left {
  font-size: 30px;
  position: absolute;
  left: 0;
  top: -10px;
  color: #00000071;
}

/*CSS for blogs*/
.blogs .blog {
  height: 400px;
  width: 330px;
  border-radius: 10px;
  box-shadow: 0px 0px 14px #0000002f;
  margin: 30px auto;
  overflow: hidden;
}

.blogs .blog .blog-image {
  height: 200px;
  width: 100%;
  background: #ffa1a1;
}

/*CSS for shop with us*/
.shop-with-us .row {
  padding: 20px;
}

.shop-with-us .label-wrapper {
  margin-bottom: 20px !important;
}

.shop-with-us .reason .fad {
  color: #FF0E0E;
}

.shop-with-us .col-xl-3 {
  margin: 10px auto !important;
}

.shop-with-us .col-xl-3:nth-child(1) {
  background: #FF0E0E;
  color: #f5f5f5;
  border-radius: 10px;
}

.shop-with-us .col-xl-3:nth-child(1) .fad {
  color: #f5f5f5 !important;
}

.shop-with-us .col-xl-3:nth-child(2) {
  background: #ffa1a1;
  border-radius: 10px;
}

.shop-with-us .col-xl-3:nth-child(3) {
  background: #FF0E0E;
  color: #f5f5f5;
  border-radius: 10px;
}

.shop-with-us .col-xl-3:nth-child(3) .fad {
  color: #f5f5f5 !important;
}

.shop-with-us .col-xl-3:nth-child(4) {
  background: #ffa1a1;
  border-radius: 10px;
}

/*CSS for footer*/
footer {
  width: 100%;
  box-shadow: 0px 0px 14px #0000002f;
  background: #FF0E0E;
}

footer .nav-link {
  color: #f5f5f5 !important;
  transition: .3s ease-out;
}

footer .nav-link:hover {
  margin-left: 20px;
}

footer .copyright {
  padding: 10px !important;
  background: #DE0000;
  width: 100%;
}

body {
  max-width: 1366px !important;
  margin: auto;
}

main {
  margin: 35px 0 35px 0;
}

.categories, .battery-finder, .shop-by-make, .reviews, .blogs, .shop-with-us {
  margin-top: 35px !important;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 14px #00000080;
}

.label-wrapper {
  width: 370px;
  background-image: url("../img/svg/label.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -4px;
  height: 59px;
}

@media (max-width: 875px) {
  .label-wrapper {
    width: 314px;
    height: 50px;
  }
}
