//Color Scheming

$colors: (
    background: #40514E,
    primary: #35403E,
    color: #F5F5F5,
    background-2: #3affe5
);

@function setColor($color-name) {
    @return map-get($colors, $color-name);
}

$laptop: 1175px;
$tablet: 1030px;
$mobile: 680px;
$android: 360px;

@mixin laptop {
    @media (max-width: #{$laptop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin android {
    @media (max-width: #{$android}) {
        @content;
    }
}

/*CSS FOR NAVBAR*/

header {
    height: 70px;

    @include mobile {
        height: 120px;
    }
}

.navbar {
    position: fixed;
    background: setColor(background);
    height: 70px;
    width: 100%;
    color: setColor(color);
    z-index: 9;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.4));

    .menu-btn {
        font-size: 28px;
        margin: 0px 20px 0px 10px;

        @include mobile {
            position: absolute;
            right: 20px;
        }

        @include android {
            right: 10px;
        }
    }

    .search-bar {
        background: setColor(primary);
        padding: 10px;
        margin: 0px 10px 0px 20px;
        border-radius: 5px;

        @include tablet {
            display: none;
        }

        input {
            width: 500px;
            background: transparent;
            border: none;
            outline: none;
            color: setColor(color);

            @include laptop {
                width: 350px;
            }
        }
    }

    .actions {
        background: setColor(primary);
        height: 100%;
        position: absolute;
        right: 0;

        align-items: center;

        @include mobile {
            height: 50px;
            top: 70px;
            left: 0;
            right: 0;

            justify-content: center;
        }

        .nav-link {
            color: setColor(color);
            font-size: 24px;

            display: flex;
            align-items: center;

            @include mobile {
                margin: auto 10px;
            }

            @include android {
                margin: 0px;
            }

            span {
                font-size: 14px;
                margin: 0px 5px 0px 5px;

                @include mobile {
                    display: none;
                }
            }

            .sm {
                display: block !important;
            }
        }

        .search {
            @include tablet {
                display: block !important;
            }
        }
    }
}

/*CSS for carousel */

.carousel-container {
    height: 300px;
    background: setColor(primary);
    color: setColor(color);
    margin: 40px auto;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        height: 200px;
    }
}

/*CSS for Categories*/

.label-wrapper {
    position: relative;
    left: -20px;
    top: -14px;
    color: white;
    font-size: 20px;
    padding: 0px 0px 0px 10px;
    font-weight: 600;

    .wrapper {
        position: absolute;
        left: -23px;
        top: -19px;
        z-index: -1;
    }
}

.categories {
    padding: 25px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4);

    .category {
        height: 350px;
        width: 280px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        transition: .3s ease-out;

        @include tablet() {
            margin: auto;
            margin-top: 20px;
        }

        .category-image {
            height: calc(100% - 130px);

            img {
                width: 100%;
            }
        }

        .category-desc {
            background: setColor(primary);
            position: absolute;
            bottom: 0;
            padding: 10px;
            color: white;
            border-radius: 10px;

            .button-container {
                display: flex;
                justify-content: space-between;

                button {
                    border: none;
                    outline: none;
                    border-radius: 3px;
                    background: setColor(background-2);
                    color: setColor(background);
                    font-weight: 700;
                    width: 46%;
                    padding: 3px;
                    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
                    transition: .3s ease-out;

                    &:hover {
                        background: setColor(background);
                        color: setColor(background-2);
                    }
                }
            }
        }

        &:hover {
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        }
    }

}