.battery-finder {
    
    .input-field {
        width: 280px;

        .form-control {
            width: 100%;
        }

        button {
            background: setColor(primary);
            color: setColor(light);
            transition: .3s ease-out;
            font-size: 18px;

            &:hover {
                background: setColor(dark);
                color: setColor(light) !important;
            }
        }
    }
}