.blogs {

    .blog {
        height: 400px;
        width: 330px;
        border-radius: 10px;
        box-shadow: 0px 0px 14px #0000002f;
        margin: 30px auto;
        overflow: hidden;

        .blog-image {
            height: 200px;
            width: 100%;
            background: setColor(lightPrimary);
        }
    }
}