.categories {
    margin-top: 35px !important;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 14px #00000080;

    .category {
        height: 400px;
        width: 280px;
        margin: 35px auto;
        border-radius: 10px;
        background: rgb(236, 236, 236);
        box-shadow: 0px 0px 14px #00000080 !important;
        position: relative;
        overflow: hidden;

        .design1, .design2 {
            clip-path: polygon(0 0, 100% 0, 100% 18%, 0 50%);
            background: setColor(primary);
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
        }

        .design2 {
            transform: rotate(180deg);
        }

        .button {
            position: absolute;
            height: 100px;
            bottom: 0; left: 0; right: 0;

            button {
                background: setColor(light);
                color: setColor(primary) !important;
                text-shadow: 0px 0px 14px #0000002f;
                transition: .3s ease-out;

                &:hover {
                    background: setColor(dark);
                    color: setColor(light) !important;
                }

                font-size: 20px;

                i {
                    font-size: 30px;
                }
            }
        }

    }
}