footer {
    width: 100%;
    box-shadow: 0px 0px 14px #0000002f;
    background: setColor(primary);

    .nav-link {
        color: setColor(light) !important;
        transition: .3s ease-out;

        &:hover {
            margin-left: 20px;
        }
    }

    .copyright {
        padding: 10px !important;
        background: setColor(secondary);
        width: 100%;
    }
}