body {
    max-width: 1366px !important;
    margin: auto;
}

main {
    margin: 35px 0 35px 0;
}

html {
    scroll-behavior: smooth;
}

//Global CSS for sections 

.categories, .battery-finder, .shop-by-make, .reviews, .blogs, .shop-with-us {
    margin-top: 35px !important;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 14px #00000080;
}

//CSS for heading label
.label-wrapper {
    width: 370px;
    background-image: url("../img/svg/label.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -4px;
    height: 59px;

    @include smallTablet {
        width: 314px;
        height: 50px;
    }
}

//Scroll to top 
.scroll-to-top {
    background: setColor(primary);
    color: setColor(light);
    position: fixed;
    right: 20px;
    bottom: 20px;

    height: 45px;
    width: 45px;
    border-radius: 100%;
    cursor: pointer;

    .fas {
        font-size: 26px;
        transform: rotate(-45deg);
        margin-top: 8px;
    }
}