.shop-by-make {

    .input-field {
        width: 300px !important;
    }

    .car-make {
        height: 200px;
        width: 200px;
        background: setColor(lightPrimary);
        margin: 30px auto;
    }
}