$laptop: 1175px;
$tablet: 1030px;
$smallTablet: 875px;
$mobile: 680px;
$android: 360px;

@mixin laptop {
    @media (max-width: #{$laptop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin smallTablet {
    @media (max-width: #{$smallTablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin android {
    @media (max-width: #{$android}) {
        @content;
    }
}