header {
    height: 70px;

    @include smallTablet {
        height: 120px;
    }
}

nav {
    max-width: 1366px;
    background: setColor(primary);
    position: fixed;
    top: 0;
    height: 70px;
    margin: 0px auto;

    box-shadow: 0px 4px 10px #00000080;

    @include smallTablet {
        box-shadow: none;
    }


    //CSS for search bar
    .search-bar {
        height: 45px;
        width: calc(100% - 800px);
        background: setColor(secondary);
        border-radius: 5px;
        color: setColor(lightPrimary);
        position: relative;

        @include mobile {
            display: none;
        }

        .search-btn {
            position: absolute;
            left: 20px;
            font-size: 20px;
        }

        input {
            background: transparent;
            color: white;
            border: none;
            outline: none;
            font-size: 20px;
            width: calc(100% - 110px);
        }

        input::placeholder {
            color: setColor(lightPrimary);
        }
    }


    //CSS for sub navbar
    .sub-nav {
        padding: 10px !important;
        background: setColor(secondary);
        height: 100%;
        position: absolute;
        right: 0;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;

        list-style-type: none;

        
        .nav-link {
            color: white;
            transition: .3s ease-out;
            border-radius: 100px;
            margin: auto 5px;
            
            &:hover {
                background: setColor(primary);
            }
        }
        
        @include smallTablet {
            top: 70px !important;
            height: 50px;
            left: 0;
            border-radius: 0px;
            box-shadow: 0px 4px 10px #00000080;
            
            @include mobile {

                .nav-link {
                    display: flex;
                    align-content: center;
                    margin: auto 3px;

                    i {
                        float: none !important;
                        font-size: 28px;
                    }
                    span {
                        display: none;
                    }
                }
            }
        }
    }

    .menu-btn {
        @include smallTablet {
            position: absolute;
            right: 20px;
            top: 10px;

            i {
                margin: 0px !important;
            }
        }
    }
}