.reviews {

    .review {
        height: 350px;
        width: 360px;

        @include mobile {
            width: 300px;
        }

        box-shadow: 0px 0px 14px #0000002f;
        margin: 30px auto;
        border-radius: 10px;

        .user-details {
            color: setColor(primary);
        }

        .review-details {
            width: calc(100% - 20px);
            height: 160px;
            background: #0000002f;
            border-radius: 10px;
            margin-bottom: -10px;
            position: relative;

            .fa-quote-left {
                font-size: 30px;
                position: absolute;
                left: 0;
                top: -10px;
                color: #00000071;
            }
        }
    }
}