.shop-with-us {
    padding-bottom: 20px;

    .cards-1, .cards-2 {
        width: 280px;
        margin: 30px auto;
        border-radius: 10px;

        @include mobile() {
            width: calc(100% - 30px);
            margin: 15px auto;
        }
    }

    .cards-1 {
        background: setColor(primary);
        color: setColor(light);
        transition: .3s ease-out;

        &:hover {
            background: setColor(dark);
        }
    }

    .cards-2 {
        background: setColor(lightPrimary);
        color: setColor(dark);
        transition: .3s ease-out;

        &:hover {
            background: setColor(primary);
            color: setColor(light);
        }
    }
}